.Buy{
    width: 50%;
    padding: 20px;
}

.BuyBack{
    display: flex;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 40px;
    background-color: var(--back);
    min-height: 70%;
}

.BuyHeader{
    margin: 6px 2px;
}

.BuyCont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    margin-top: 25px;
}

.BuyContactCont{
    margin-top: 35px;
}

.BuyContact{
    width: fit-content;
}

.ContactCard{
    display: flex;

}

.BuyImg{
    width: 100%;
    
}

.BuyDesc{
    padding: 10px;
}

.BuyHeader{
    width: fit-content;
}

.BuyHeader{
    display: flex;
}

.ButtonCont{
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}


@media (max-width : 1300px) {
    .Buy{
        width: 70%;
    }
}

@media (max-width : 820px) {
    .Buy{
        width: 95%;
    }

    .BuyCont{
        grid-template-columns: none;
        grid-template-rows: auto 1fr;
    }
}