.UserBack{
    background-color: var(--back);
    height: 100vh;
}

.UserPaper{
    margin: 20px;
    height: 100%;
    padding: 25px;
}

.formMargin{
    margin-top: 20px;
}

.UserProducts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}

@media (max-width : 980px) {
    .UserProducts{
        grid-template-columns: 1fr 1fr ;
    }
}


@media (max-width : 660px) {
    .UserProducts{
        grid-template-columns: 1fr  ;
    }
}